<h1><%= @this_user.username %>'s Surveys</h1>
<div class="a_b">
  <div class="a_col">
    <% if @this_user == @current_user %>
      <a href="/users/<%=@this_user.id%>/surveys/new">
        <div class="card muted">
          <h3>Create a new survey!</h3>
        </div>
      </a>
    <% end %>

    <%
    if @surveys.length > 0
      @surveys.each do |survey| %>
        <div class="card">
          <span class="card-corner"><%= link_to '♻︎ Del', user_survey_url(survey.user, survey), method: :delete, data: { confirm: 'Are you sure?' } %></span>
          <a href="/users/<%= survey.user.id %>/surveys/<%= survey.id %>"><h3><%= survey.title %></h3>
          <h4>by <%= survey.user.username %></h4></a>
        </div>
      <% end %>
    <% else %>
    <div class="card">
      <p class="muted">Empty :(</p>
    </div>

    <% end %>
  </div>
</div>
