<!DOCTYPE html>
<html>
  <head>
    <title>❄ Flaky Survey</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="top-bar">
      <div class="logo">
        <a href="/"><h1 class="heading">❄ Flaky Survey</h1></a>
      </div>
      <div class="user-info">
        <% if @current_user %>
          <a id="welcome-link" href="/users/<%= @current_user.id %>">Welcome, <%= @current_user.username %></a>
        <% else %>
          <p><a href="/sessions/new">Sign in to get this survey train rolling!</a></p>
        <% end %>
      </div>
      <div class="nav-area">
        <ul class="nav-buttons">
          <a href="/"><li class="nav-button">Browse Surveys</li></a>
          <a href="/users/<%= @current_user ? @current_user.id : 1 %>/surveys"><li class="nav-button">My Surveys</li></a>
          <a href="/users/<%= @current_user ? @current_user.id : 1 %>/responses"><li class="nav-button">My Responses</li></a>
          <a href="/users/<%= @current_user ? @current_user.id : 1 %>/surveys/new"><li class="nav-button">New Survey</li></a>
        </ul>
      </div>
      <div class="pull-right">
          <% if @current_user %>
            <a class="btn" href="/sign_out" style="margin-top: 30%">↪ Sign out</a>
          <% else %>
            <a class="btn" href="/sessions/new">☞ Sign In</a>
            <br>
            <a class="btn" href="/users/new">✎ Sign Up</a>
          <% end %>
      </div>
    </div>
    <main>
      <div class="flash notice">
        <%= flash[:notice] if flash[:notice] %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
